{% extends "hooks/base.html" %}

{% block title %}Repositories{% endblock %}

{% block sidebar %}

<div class="block">
  <h3>Add a new repository</h3>
  <div class="content">
<br/>
<form action="/hooks/repos/add/" method="post" class="form">
<div class="group">
    <label class="label">Repository</label>
    <input type="text" name="repo" class="text_field" />
    <span class="description">Ex: sympy</span>
</div>
<div class="group">
    <label class="label">Owner</label>
    <input type="text" name="owner" class="text_field" />
    <span class="description">Ex: certik</span>
</div>
<div class="group navform">
<input type="submit" class="button" value="Add &rarr;" />
</div>

</form>
  </div>
</div>

{% endblock %}

{% block content %}

<h2 class="title">Repositories</h2>
<div class="inner">
    <table class="table">
        <tr>
            <th class="first">repository name</th>
            <th class="last">Owner</th>
        </tr>

{% for repo in repos_list %}
        <tr class="{% cycle odd,even %}">
            <td>
                <a href="/hooks/repos/{{ repo.key }}/">{{ repo.name }}</a>
            </td>
            <td>
                <a href="/hooks/users/{{ repo.owner.key }}/">{{ repo.owner.name }}</a>
            </td>
        </tr>
{% endfor %}
    </table>
</div>

{% endblock %}
