{% extends "hooks/base.html" %}

{% block title %}Repository{% endblock %}

{% block content %}

Name: {{ repo.name }}<br/>
Owner: <a href="/hooks/users/{{ repo.owner.key }}/">{{ repo.owner.name }}</a>

<h2>Authors</h2>
<p>
List of all authors, that committed patches to this repository:
<ul>
{% for author in authors %}
<li>
<a href="/hooks/users/{{ author.key }}/">{{ author.name }}</a>
({{ author.email }})
<img src="{{ author.gravatar_url }}">
</li>
{% endfor %}
</ul>
</p>

<h2>Updates</h2>
<p>
A list of JSON updates that we received for this repository:
{% for update in updates %}
<hr>
<pre>
{{ update.update }}
</pre>
{% endfor %}
</p>

<h3>Delete the repository</h3>
Click the button to delete the repository. This is permanent (e.g. you have to
add it back in at the <a href="/hooks/repos/">repositories list</a> page):
<form action="/hooks/repos/delete/{{ repo.key }}/" method="post">
<input type="submit" value="Delete" />
</form>

{% endblock %}
