{% extends "hooks/base.html" %}

{% block title %}Users{% endblock %}

{% block content %}

<h2 class="title">Users list</h2>
<div class="inner">
    <table class="table">
        <tr>
            <th class="first">Name</th>
            <th>Email</th>
            <th class="last">Gravatar</th>
        </tr>

{% for user in users_list %}
        <tr class="{% cycle odd,even %}">
            <td>
                <a href="{{ user.key }}">{{ user.name }}</a>
            </td>
            <td>
                {{ user.email }}
            </td>
            <td>
                <img src="{{ user.gravatar_url }}">
            </td>
        </tr>
{% endfor %}
    </table>
</div>


{% endblock %}
